body{
    margin:0;
    padding: 0;
}
a:link {
    text-decoration:none;
}
.menu{
    display:flex;
    justify-content: flex-end;
    margin-left: 0;
    height: 60px;
    background-color: rgb(174,170,170) ;
    position: fixed;
    width: 100%;
    z-index: 10;

}
.menulist{
    margin-top: 4%;
}
.toggler{
    visibility: hidden;
}
ul{
    margin-top: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: row;
    padding-right: 20px;
    font-size: 20px;
}
.animatedbar{
    color: rgb(255,255,255);
    padding-left: 30px;
    padding-right: 30px;
}
/*-----ABOUT US SECTION-----------------------------------------------*/
.aboutus{
    display: flex ;
    justify-content: center;

}
/*background img*/
.backgroundimg{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
/*about us tittle and paragraph description */
.text{
    position: absolute;
    text-align: center;
}

h1{
    font-size: 100px;
    color: rgb(174,170,170) ;
    padding-top: 20px;
    margin-bottom: 20px;
    -webkit-text-stroke-color:rgb(255,255,255) ; 
    -webkit-text-stroke-width:1px;
}
h2{
    margin-top: 10px;
    color: rgb(255,255,255);
    font-size: 20px;
    margin-bottom: 0px;
}
p{
    position: relative;
    color: rgb(255,255,255) ;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}
/*enclosing div for about us and paragraph*/
.paragraph{
    background-color: rgba(194, 192, 192, 0.5) ;
    width: 900px;
    padding: 20px;
    height: 120px;
    margin-left: auto;
    margin-right: auto ;
}
.quotesshowcase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 1100px;
    height: 340px ;
    background-color:rgba(255,255,255,0.7);
    margin-left: auto;
    margin-right: auto ;
    overflow-y: scroll;
    justify-content: center;

}
.userquotes{
    display: flex;
    margin:20px;
    height:310px;
    width: auto
}

#editquote{
    color: rgb(88,88,88);
    font-size: 20px;
    height: 20px;
    margin-top: 10px;
}
.buttons{
    margin-top: 10px;
}
/*-------WRITTERS SECTION-----------------------------------------*/

.allwriters{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
}
.imgauthor{
    width: 200px;
    margin: 30px;
}
/*------WHAT TO READ SECTION-----------------------------------------------*/
 .whattoread{ 
    display:flex;
    position: absolute;
    background-color: rgba(255,255,255, 0.6) ;
    right: 80px;
    left:80px;
    height: 740px;
    margin-top: 60px;
    justify-content: center;

}
h3{
    position: absolute;
    font-size: 40px;
    color: rgb(189,160,194);
    width: 100%;
    text-align: center;
    font-weight: bolder;
}
h5{
    font-size: 30px;
    margin-top: 120px;
    color: rgb(189,160,194);
    height: 40px;
}
.options{
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.form{
    margin-top: 20px;
}
#type{
    color: black;
}
#createbuttonpoem{
    margin-right: 30px;
}
.infofrombook{
    position: absolute;
    background-color: rgba(189,160,194,0.6);
    margin-top: 180px;
    width: 80%;
    height: 70%;
    margin-left: 40px;
}
.options{
    margin-left: 40px ;
}
.last{
    align-content: center;
}

/* Editing book's & poem's info -----------------*/
#textbook{
    font-size: 22px;
    text-align: center;
    color: rgba(88,88,88);
    height: auto;
    margin-top: 20px
}
#author{
    text-align: center;
    color:rgba(88,88,88);
    height: auto;
}
#dob{
    text-align: center;
    color:rgba(88,88,88);
    height: auto;
}
#pages{
    color:rgba(88,88,88);
    padding:20px;
    padding-bottom: 0px;
    height: auto;
}
#biowriter{
    color:rgba(88,88,88);
    padding:20px;

}

/*-------FOOTER SECTION------------------------------------------*/
footer{
    background-color: rgb(175,171,171) ;
    display: flex;
    height: 100px;
    justify-content: center;
  }
h4{
    font-size: 20px;
    align-self: center;
    margin-right: 50px;
    color:rgb(255,255,255) ;
}
.icons{
    display:flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto; 
}
#linkedin, #wordpress{
    margin-left: 30px;
}

/* Media Queries------------------------------------------------------------------------*/
@media (max-width:1231px){
    h1{
        margin-top: 30px ;
    }
    #read{
        height: 710px;
    }
}

@media (max-width:1167px){
    h1{
        font-size: 45px;
        padding: 0px;
    }
    .paragraph{
        padding:10px;
        margin-top:0px;
        height: auto;
    }
    p{
        margin-bottom:5px;
        margin-top: 0px;
        margin: 0 auto;
    }
    .buttons{
        margin-top: 20px;
    }
    #quoteshow{
        width:800px;
        height: 420px ;
    }
    .userquotes{
        height: 210px;
    }
    .imgauthor{
        width: 186px;
    }
    h3{
        margin: 20px ;
    }
    .options{
       margin-top: 80px;
    }
    #read{
        margin-top: 30px;
        height: 600px;
    }
    .infofrombook{
        margin-top: 140px;
        height: 440px;
    }
}

@media (max-width:1084px){
    h1{
        font-size: 40px;
    }
    #quoteshow{
        height:380px ;
    }
}
@media (max-width:1020px){
    h1{
        margin:20px;
    }
    h3{
        width:400px;
    }
    h2{
        font-size: 15px;
        margin-bottom: 2px;
    }
    .paragraph{
        width: 800px;
    }
    p{
        font-size: 15px;
        width:780px;
    }
    #quoteshow{
        height: 320px;
    }
    .imgauthor{
        margin: 20px;
        padding: 0px;
    }
    #biowriter{
        width: 620px;
        margin: 0 auto;
    }
}
@media (max-width:960px){
    #read{
        margin-top: 20px;
        height: 560px;
    }
    .infofrombook{
        height: 400px;
    }
    h3{
        font-size: 20px;
    }
    #biowriter{
        width: 550px ;
        margin: 0 auto;
    }
    #textbook{
        width: 500px;
        margin: 0 auto;
    }
    #author{
        width:200px;
        margin: 0 auto;
    }
    #dob{
        width:100px;
        margin: 0 auto;
    }
    #pages{
        width:200px;
        margin-left: 20px;
    }
    #editquote{
        margin-bottom: 5px;
        font-size: 15px;
    }
    .imgauthor{
        width: 160px;
    }
}
@media (max-width:896px){
    h1{
        margin:10px
    }
    #quoteshow{
        height: 280px;
        width: 600px;
    }
    #editquote{
        font-size: 15px;
        margin-top: 0px;
        padding-top: 0px;
    }
    h2{
        font-size: 12px;
    }
    p{
        font-size: 12px;
        width: 600px;
    }
    .paragraph{
        width: 600px;
    }
    .imgauthor{
        width: 150px ;
    }
    #biowriter{
        width: 460px;
    }
    #read{
        height: 500px;
    }
    .infofrombook{
        height: 340px;
    }
}

@media (max-width:816px){
    .options{
       flex-direction: column ;
       margin:auto;
       margin-top: 40px;
    }
    #quoteshow{
        height:200px ;
        width: 500px;
    }
    p{
        width: 480px;
        height: 60px;
    }
    .paragraph{
        width: 500px;
    }
    .infofrombook{
        height:300px ;
    }
    #read{
        height: 450px;
    }
    .imgauthor{
        width:130px
    }
    #biowriter{
        font-size: 11px;
        width:400px;
    }
}

@media (max-width:710px){
    h3{
        font-size: 15px;
    }
    .options{
        margin-top: 24px;
    }
    .infofrombook{
       margin-top: 120px;
       height: 270px;
    }
    #textbook{
        font-size:15px ;
        padding-top: 5px;
        margin:0 auto;
        width: 400px;
    }
    #pages{
        padding:0px;
    }
    #biowriter{
        padding-top:0px;
        width: 360px;
    }
    #read{
        height: 400px;
    }
    h2{
        margin:0px;
    }
    #quoteshow{
        margin-top: 10px;
    }
    .buttons{
        margin-top: 10px;
    }
    .imgauthor{
        width:120px;
    }
    h3{
        width:200px;
    }
}
@media (max-width:655px){
    .paragraph{
        width: 380px;
    }
    p{
        width:380px;
        height:40px;
    }
    #quoteshow{
        height: 100px;
        width: 420px;
    }
    .imgauthor{
        width:110px;
    }
    #read{
        height: 280px;
        width: 450px;
        margin: 0;
    
    }
    .infofrombook{
        width: 410px;
        height: 190px;
        margin-left: 20px;
        overflow-y: scroll;
     }
     #biowriter{
         width: 360px;
         margin:0 auto;
         padding:0;
     }
     #textbook{
         width:200px;
     }

}
@media (max-width:592px){
    .imgauthor{
        width: 96px;
    }
}
@media (max-width:540px){
    .imgauthor{
        width: 86px;
    }
}

@media (max-width:501px){
    .imgauthor{
        width: 80px;
    }
    h1{
        font-size: 30px;
    }
    .paragraph{
        height: 60px;
    }
    .buttons{
        width: 280px ;
    }
    #url{
        width:123px;
        font-size: 10px;
    }
    button{
        padding:1px;
        font-size: 10px;
    }
    #editquote{
        width:280px;
        height: auto;
        font-size: 10px;
    }
}

@media (max-width:483px){
    h1{
        font-size:25px ;
    }
    .paragraph{
        width: 280px;
    }
    p{
        font-size: 10px;
        width:280px
    }
    .imgauthor{
        width: 55px;
        margin: 10px;
    }
}
