body{
    margin:0;
    padding: 0;
}
a:link {
    text-decoration:none;
}
nav{
    display:flex;
    justify-content: space-between;  
    margin-left: 0;
    height: 60px;
    background-color: rgb(174,170,170) ;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.toggler{
    visibility: hidden;
}
ul{
    margin-top: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
    font-size: 20px;
}
.animatedbar{
    color: rgb(255,255,255);
    padding-left: 30px;
    padding-right: 30px;
}
/*-----ABOUT US SECTION-----------------------------------------------*/
.aboutus{
    display: flex ;
    justify-content: center;

}
/*background img*/
#backgroundimg{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
/*about us tittle and paragraph description */
.text{
    position: absolute;
    text-align: center;
}

h1{
    font-size: 100px;
    color: rgb(174,170,170) ;
    padding-top: 30px;
    -webkit-text-stroke-color:rgb(255,255,255) ; 
    -webkit-text-stroke-width:1px;
}
h2{
    margin-top: 10px;
    color: rgb(255,255,255);
    font-size: 20px;
    margin-bottom: 0px;
}
p{
    position: relative;
    color: rgb(255,255,255) ;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 50px;
}
/*enclosing div for about us and paragraph*/
.paragraph{
    background-color: rgba(194, 192, 192, 0.5) ;
    padding:10px;
    width: 900px;
    height: 100px;
}


/*-------WRITTERS SECTION-----------------------------------------*/


.allwritters{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.secondsection{
    display: flex;
    text-align: center;
}
.firstwritter{
    
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
    
}
#paulo{
    align-self: center;
    width: 200px;
    height: auto;
}
.secondwritter{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
  
}
#gabriel{
    align-self: center;
    width: 200px;
    height: auto;
}
.thirdwritter{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
  
}
#benedetti{
    align-self: center;
    width: 200px;
    height: auto;
}
.fourthwritter{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
  
}
#neruda{
    align-self: center;
    width: 200px;
    height: auto;
}
.fifthwritter{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
  
}
#mistral{
    align-self: center;
    width: 200px;
    height: auto;
}
.sixthwritter{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    align-content: center;
  
}
#isabel{
    align-self: center;
    width: 200px;
    height: auto;
}
/*------WHAT TO READ SECTION-----------------------------------------------*/

.whattoread{
    position: absolute;
    background-color: rgba(255,255,255, 0.5) ;
    right: 80px;
    left:80px;
    height: 640px;
    margin-top: 100px;
}
h3{
    position: absolute;
    font-size: 40px;
    color: rgb(189,160,194);
    width: 100%;
    text-align: center;
    font-weight: bolder;
}









/*-------FOOTER SECTION------------------------------------------*/
footer{
    background-color: rgb(175,171,171) ;
    display: flex;
    height: 80px;
    justify-content: center;
  }
h4{
    align-self: center;
}

