body{
    margin:0;
    padding: 0;
}
a:link {
    text-decoration:none;
}
nav{
    display:flex;
    justify-content: space-between;  
    margin-left: 0;
    height: 60px;
    background-color: rgb(174,170,170) ;
}
.toggler{
    visibility: hidden;
}
ul{
    margin-top: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-content: center;
    padding-right: 20px;
    font-size: 20px;
}
.animatedbar{
    color: rgb(255,255,255);
    padding-left: 10px;
    padding-right: 10px;
}
/*-----ABOUT US SECTION-----------------------------------------------*/
.aboutus{
    display: flex ;
    justify-content: center;

}
/*background img*/
#backgroundimg{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
/*about us tittle and paragraph description */
.text{
    position: absolute;
    text-align: center;
}

h1{
    font-size: 100px;
    color: rgb(174,170,170) ;
    padding-top: 30px;
    -webkit-text-stroke-color:rgb(255,255,255) ; 
    -webkit-text-stroke-width:1px;
}
h2{
    margin-top: 30px;
    color: rgb(255,255,255);
    font-size: 30px;
}
p{
    position: relative;
    color: rgb(255,255,255) ;
    font-size: 20px;
}
/*enclosing div for about us and paragraph*/
.paragraph{
    background-color: rgba(194, 192, 192, 0.5) ;
    padding:20px;
    width: 800px;
    height: 400px;
}


/*-------WRITTERS SECTION-----------------------------------------*/


   
.secondsection{
    display: flex;
    text-align: center;
}
.firstwritter{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    align-content: center;
    margin: 50px;
}
#paulo{
    height: 560px;
    width: auto;
}









/*-------FOOTER SECTION------------------------------------------*/
footer{
    background-color: rgb(175,171,171) ;
    display: flex;
    height: 80px;
  }

